# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/
/[Pp]ackages/*/

# Version control
/.plastic/
/.vscode/

# OS files
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vs/
.idea/
*.csproj.user
*.sln.docstates
